/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
.title {
    background: rgb(181,182,190);
    background: radial-gradient(circle, rgb(4, 12, 96) 0%,rgb(86, 9, 4) 100%);
    color: cornsilk;
    padding: 5%;
    font-size: 400%;
    text-align-last: center;
    margin:  -8px;

      }
.title p {
  font-size: 1cm;
}
.electronicMusic {
    background: rgb(181,182,190);
    background: radial-gradient(circle, rgb(54, 59, 84) 0%,rgb(24, 3, 2) 100%);
    margin:  -8px;
    color: cornsilk;
    margin-top: -10px;
    font-size: 150%;
    padding: 2%;
}
.electronicMusic h1 {
    font-size: 150%;
    text-align-last: center;
}
.electronicMusic p {
    font-size: 90%;
 }
 .genres {
    background: rgb(181,182,190);
    background: radial-gradient(circle, rgb(54, 59, 84) 0%,rgb(24, 3, 2) 100%);
    margin:  -8px;
    color: cornsilk;
    margin-top: -10px;
    font-size: 150%;
    padding: 2%;
}
.genres h2 {
    text-align-last: center;
}
.genres li {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
}